body {
  min-height: 100dvh;
  background-color: var(--base-bg);
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

:root {
  /* COLOR VARS */
  --base-bg:#9f9f9f;

  --color1: #f9f9f9;
  --color2: #eeeeee;
  --color3: #e1e1e1;
  --color4: #737373;
  --color5: #404040;
}


