.uiInputWrapper {
    @apply h-[40px] flex justify-center items-center;
    &.uiCheckboxWrapper {
        @apply h-auto gap-2;
    }
    &.disabled {
        @apply text-gray-400;
    }
    input {
        @apply relative h-full w-full border rounded px-3 py-1;
        &.checkbox {
            @apply w-5 h-5 shadow-none appearance-none p-0 border-[--color5] bg-white hover:bg-[--color3];
            &:checked {
                @apply bg-[--color3];
                &::after {
                    @apply w-4 h-4 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 right-0 bottom-0;
                    content: '';
                    background: url('./_assets/Check.svg') no-repeat center center;
                    background-size: contain;
                }
            }
            &:disabled {
                @apply hover:bg-white border-[--color3] cursor-not-allowed;
            }
        }
    }
}